In [22]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [8]:
df = pd.read_csv('apollo_data.csv')
df.head()

,Unnamed: 0,age,sex,smoker,region,viral load,severity level,hospitalization charges
0,0,19,female,yes,southwest,9.30,0,42212
1,1,18,male,no,southeast,11.26,1,4314
2,2,28,male,no,southeast,11.00,3,11124
3,3,33,male,no,northwest,7.57,0,54961
4,4,32,male,no,northwest,9.63,0,9667

In [9]:
# drop unnecessary column 1
df.drop(columns='Unnamed: 0', inplace= True)
df.head()

,age,sex,smoker,region,viral load,severity level,hospitalization charges
0,19,female,yes,southwest,9.30,0,42212
1,18,male,no,southeast,11.26,1,4314
2,28,male,no,southeast,11.00,3,11124
3,33,male,no,northwest,7.57,0,54961
4,32,male,no,northwest,9.63,0,9667

In [10]:
# data cleaning process starts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1338 non-null   int64
 1   sex                      1338 non-null   object
 2   smoker                   1338 non-null   object
 3   region                   1338 non-null   object
 4   viral load               1338 non-null   float64
 5   severity level           1338 non-null   int64
 6   hospitalization charges  1338 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 73.3+ KB

In [11]:
df.describe()

               age   viral load  severity level  hospitalization charges
count  1338.000000  1338.000000     1338.000000              1338.000000
mean     39.207025    10.221233        1.094918             33176.058296
std      14.049960     2.032796        1.205493             30275.029296
min      18.000000     5.320000        0.000000              2805.000000
25%      27.000000     8.762500        0.000000             11851.000000
50%      39.000000    10.130000        1.000000             23455.000000
75%      51.000000    11.567500        2.000000             41599.500000
max      64.000000    17.710000        5.000000            159426.000000

In [12]:
# check for null values
df.isna().sum()

age                        0
sex                        0
smoker                     0
region                     0
viral load                 0
severity level             0
hospitalization charges    0
dtype: int64

In [14]:
# business problem no 1
# we first need to get dummies

df['sex'].unique()

array(['female', 'male'], dtype=object)

In [15]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [16]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [17]:
df_dummies = pd.get_dummies(df, columns=['sex', 'smoker', 'region'])
df_dummies.head()

,age,viral load,severity level,hospitalization charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,9.30,0,42212,True,False,False,True,False,False,False,True
1,18,11.26,1,4314,False,True,True,False,False,False,True,False
2,28,11.00,3,11124,False,True,True,False,False,False,True,False
3,33,7.57,0,54961,False,True,True,False,False,True,False,False
4,32,9.63,0,9667,False,True,True,False,False,True,False,False

In [19]:
# we will now change these into 0 or 1

df_dummies.columns

Index(['age', 'viral load', 'severity level', 'hospitalization charges',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [20]:
dummy_columns = ['sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest']

for col in dummy_columns:
    df_dummies[col] = df_dummies[col].astype(int)

df_dummies.head()

,age,viral load,severity level,hospitalization charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,9.30,0,42212,1,0,0,1,0,0,0,1
1,18,11.26,1,4314,0,1,1,0,0,0,1,0
2,28,11.00,3,11124,0,1,1,0,0,0,1,0
3,33,7.57,0,54961,0,1,1,0,0,1,0,0
4,32,9.63,0,9667,0,1,1,0,0,1,0,0

In [23]:
# fitting OLS

X = sm.add_constant(df_dummies[['age', 'viral load', 'severity level',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest']])
y = df_dummies['hospitalization charges']

model = sm.OLS(y, X).fit()
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     hospitalization charges   R-squared:                       0.751
Model:                                 OLS   Adj. R-squared:                  0.749
Method:                      Least Squares   F-statistic:                     500.9
Date:                     Thu, 19 Dec 2024   Prob (F-statistic):               0.00
Time:                             23:31:51   Log-Likelihood:                -14774.
No. Observations:                     1338   AIC:                         2.957e+04
Df Residuals:                         1329   BIC:                         2.961e+04
Df Model:                                8
Covariance Type:                 nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -743.6153   1076.188     -0.691      0.490   -2854.827    1367.596
age                642.1191     29.746     21.587      0.000     583.764     700.474
viral load        2544.5648    214.477     11.864      0.000    2123.815    2965.315
severity level    1188.8765    344.499      3.451      0.001     513.055    1864.698
sex_female        -207.7375    673.035     -0.309      0.758   -1528.064    1112.589
sex_male          -535.8778    687.391     -0.780      0.436   -1884.367     812.611
smoker_no        -3.018e+04    705.805    -42.763      0.000   -3.16e+04   -2.88e+04
smoker_yes        2.944e+04    783.785     37.560      0.000    2.79e+04     3.1e+04
region_northeast  1281.6302    750.849      1.707      0.088    -191.348    2754.609
region_northwest   399.1390    753.315      0.530      0.596   -1078.678    1876.956
region_southeast -1305.8505    826.830     -1.579      0.114   -2927.885     316.184
region_southwest -1118.5340    777.305     -1.439      0.150   -2643.413     406.345
==============================================================================
Omnibus:                      300.412   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.053
Skew:                           1.211   Prob(JB):                    7.24e-157
Kurtosis:                       5.651   Cond. No.                     9.50e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.71e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

> 1. Model Summary

R-squared: 0.751 means 75.1% of the variance in hospitalization charges is explained by the model.
F-statistic: 500.9 with the P-value converging to 0.

> 2. Coefficient

Higher absolute coefficient means a stronger significance level to the target variable.
The patient being a smoker or not has the strongest significance in deciding the hospitalization charges. smoker_no has a coef of -30180, meaning if the patient is a non smoker the charge of the hospitalization will drop by $30180
Being a smoker will increase the charge to $29440

> 3. Statistical Significance

>>sex variables both have a high p-value more than the significance level 0.05; sex_female 0.758, sex_male 0.436 meaning the variables are not significantly correlated to the target variable.
>>region also seems to have a lower significance; all region related variable have p-value level higher than 0.05.
>>smoker variables both have the p-value converging to 0 which is smaller than 0.05. We can say smoker variable is has the highest significance in predicting the reason for hospitalization charge.
>>viral load and severity level also have a strong significance to the target variable. Also the p-value for both variables are less than 0.05.

In [24]:
# since the requirement is to check by each region, we will divide the dataset into each region and fit the model individually
# we also know that region is not a significant variable to predict hospital charges

df_northeast_region = df_dummies[df_dummies['region_northeast'] == True]
df_northeast_region

,age,viral load,severity level,hospitalization charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
8,37,9.94,2,16016,0,1,1,0,1,0,0,0
10,25,8.74,0,6803,0,1,1,0,1,0,0,0
16,52,10.26,1,26993,1,0,1,0,1,0,0,0
17,23,7.95,0,5988,0,1,1,0,1,0,0,0
20,60,12.00,0,33072,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1321,62,8.90,0,70253,0,1,0,1,1,0,0,0
1325,61,11.18,0,32858,0,1,1,0,1,0,0,0
1326,42,10.96,0,17625,1,0,1,0,1,0,0,0
1328,23,8.08,2,55989,1,0,1,0,1,0,0,0
1334,18,10.64,0,5515,1,0,1,0,1,0,0,0

In [25]:
X = sm.add_constant(df_northeast_region[['age', 'viral load', 'severity level',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes']])
y = df_northeast_region['hospitalization charges']

model = sm.OLS(y, X).fit()
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     hospitalization charges   R-squared:                       0.709
Model:                                 OLS   Adj. R-squared:                  0.705
Method:                      Least Squares   F-statistic:                     155.2
Date:                     Thu, 19 Dec 2024   Prob (F-statistic):           4.44e-83
Time:                             23:50:07   Log-Likelihood:                -3578.4
No. Observations:                      324   AIC:                             7169.
Df Residuals:                          318   BIC:                             7192.
Df Model:                                5
Covariance Type:                 nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const          -3634.1049   2347.118     -1.548      0.123   -8251.948     983.738
age              588.2612     61.288      9.598      0.000     467.680     708.842
viral load      3221.7111    435.910      7.391      0.000    2364.079    4079.344
severity level  1769.8631    710.161      2.492      0.013     372.656    3167.070
sex_female     -1850.4295   1471.510     -1.258      0.209   -4745.554    1044.695
sex_male       -1783.6754   1428.811     -1.248      0.213   -4594.793    1027.442
smoker_no      -2.825e+04   1516.648    -18.624      0.000   -3.12e+04   -2.53e+04
smoker_yes      2.461e+04   1634.287     15.059      0.000    2.14e+04    2.78e+04
==============================================================================
Omnibus:                       78.875   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              150.756
Skew:                           1.297   Prob(JB):                     1.84e-33
Kurtosis:                       5.107   Cond. No.                     7.35e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.1e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
df_northwest_region = df_dummies[df_dummies['region_northwest'] == True]

X = sm.add_constant(df_northwest_region[['age', 'viral load', 'severity level',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes']])
y = df_northwest_region['hospitalization charges']

model = sm.OLS(y, X).fit()
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     hospitalization charges   R-squared:                       0.704
Model:                                 OLS   Adj. R-squared:                  0.700
Method:                      Least Squares   F-statistic:                     152.0
Date:                     Thu, 19 Dec 2024   Prob (F-statistic):           3.45e-82
Time:                             23:51:06   Log-Likelihood:                -3586.9
No. Observations:                      325   AIC:                             7186.
Df Residuals:                          319   BIC:                             7208.
Df Model:                                5
Covariance Type:                 nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           -618.2025   2634.255     -0.235      0.815   -5800.910    4564.505
age              617.9413     60.406     10.230      0.000     499.097     736.786
viral load      2350.7932    496.272      4.737      0.000    1374.413    3327.173
severity level  2133.6186    723.973      2.947      0.003     709.254    3557.983
sex_female      -302.9090   1577.909     -0.192      0.848   -3407.332    2801.514
sex_male        -315.2935   1548.663     -0.204      0.839   -3362.177    2731.590
smoker_no      -2.717e+04   1598.679    -16.993      0.000   -3.03e+04    -2.4e+04
smoker_yes      2.655e+04   1826.045     14.539      0.000     2.3e+04    3.01e+04
==============================================================================
Omnibus:                      117.809   Durbin-Watson:                   2.117
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              314.545
Skew:                           1.732   Prob(JB):                     4.98e-69
Kurtosis:                       6.351   Cond. No.                     5.20e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.19e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [27]:
df_southeast_region = df_dummies[df_dummies['region_southeast'] == True]

X = sm.add_constant(df_southeast_region[['age', 'viral load', 'severity level',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes']])
y = df_southeast_region['hospitalization charges']

model = sm.OLS(y, X).fit()
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     hospitalization charges   R-squared:                       0.799
Model:                                 OLS   Adj. R-squared:                  0.796
Method:                      Least Squares   F-statistic:                     284.8
Date:                     Thu, 19 Dec 2024   Prob (F-statistic):          2.17e-122
Time:                             23:52:06   Log-Likelihood:                -4031.7
No. Observations:                      364   AIC:                             8075.
Df Residuals:                          358   BIC:                             8099.
Df Model:                                5
Covariance Type:                 nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const          -1399.0617   2466.686     -0.567      0.571   -6250.077    3451.954
age              679.9754     58.874     11.550      0.000     564.192     795.758
viral load      2573.9213    385.828      6.671      0.000    1815.147    3332.695
severity level  1183.6104    708.381      1.671      0.096    -209.500    2576.721
sex_female      -374.9657   1442.099     -0.260      0.795   -3211.016    2461.084
sex_male       -1024.0960   1535.906     -0.667      0.505   -4044.629    1996.437
smoker_no      -3.408e+04   1500.861    -22.705      0.000    -3.7e+04   -3.11e+04
smoker_yes      3.268e+04   1622.864     20.136      0.000    2.95e+04    3.59e+04
==============================================================================
Omnibus:                       62.831   Durbin-Watson:                   2.111
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              147.183
Skew:                           0.863   Prob(JB):                     1.10e-32
Kurtosis:                       5.593   Cond. No.                     8.15e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  1e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [28]:
df_southwest_region = df_dummies[df_dummies['region_southwest'] == True]

X = sm.add_constant(df_southwest_region[['age', 'viral load', 'severity level',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes']])
y = df_southwest_region['hospitalization charges']

model = sm.OLS(y, X).fit()
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     hospitalization charges   R-squared:                       0.786
Model:                                 OLS   Adj. R-squared:                  0.783
Method:                      Least Squares   F-statistic:                     234.3
Date:                     Thu, 19 Dec 2024   Prob (F-statistic):          1.75e-104
Time:                             23:52:29   Log-Likelihood:                -3548.3
No. Observations:                      325   AIC:                             7109.
Df Residuals:                          319   BIC:                             7131.
Df Model:                                5
Covariance Type:                 nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           2394.5711   2181.830      1.098      0.273   -1898.024    6687.166
age              672.6805     55.305     12.163      0.000     563.873     781.488
viral load      1941.2787    407.014      4.770      0.000    1140.508    2742.050
severity level    64.1633    588.095      0.109      0.913   -1092.872    1221.198
sex_female      1783.4578   1290.317      1.382      0.168    -755.148    4322.064
sex_male         611.1133   1364.005      0.448      0.654   -2072.468    3294.695
smoker_no      -3.042e+04   1372.531    -22.164      0.000   -3.31e+04   -2.77e+04
smoker_yes      3.282e+04   1568.750     20.918      0.000    2.97e+04    3.59e+04
==============================================================================
Omnibus:                       84.627   Durbin-Watson:                   1.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              278.972
Skew:                           1.127   Prob(JB):                     2.64e-61
Kurtosis:                       6.939   Cond. No.                     3.36e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.32e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Even if we separate the dataframe according to the regions, the tendency of the regression models follow a similar path; smoker variable being the highest correlation to the target variable hospitalization charges, and sex having a high p-value meaning it doesn't have a strong correlation to the target variable.